// =============================================================================
/* _object.grid */
// =============================================================================
//
// This implementation is forked from boostrap v4.0.0-alpha.5.

@if $grid-classes-enabled {
    // .row

    .row {
        @include make-row();
    }

    // .row--pull

    .row--pull {
        margin-bottom: -($global-component-spacing);
    }

    // .col

    @include make-grid-columns();

    // .col-push

    .col--push {
        display: flex;
        padding-bottom: $global-component-spacing;
    }
}
