// =============================================================================
// _setting.breakpoints
// =============================================================================
//
// These breakpoint based variables are used to define groups and widths.

// Breakpoint groups
// =================
// This setting is used to define breakpoint group names, based on previously
// set grid breakpoints settings.

$breakpoint-groups: (
  xs1: map-get($grid-breakpoints, xs1),
  sm1: map-get($grid-breakpoints, sm1),
  md1: map-get($grid-breakpoints, md1),
  lg1: map-get($grid-breakpoints, lg1),
  xl1: map-get($grid-breakpoints, xl1)
) !default;

// Breakpoint widths
// =================
// This setting is used to define standard breakpoints sizes as key/values
// within a map.

$breakpoints: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px
) !default;
