// =============================================================================
/* _utility.left */
// =============================================================================
//
// This utility creates a class that applies a css left property and value.
//
// Usage:
//  <div class="u-left-2">
//    ...

// .u-left
// =======

.u-left {
    &-0 {
        left: 0 !important;
    }

    @for $i from 1 through 8 {
        $size: size(1 * $i);

        &-#{$i} {
            left: ($size) !important;
        }
    }
}
