// =============================================================================
/* _component.atom.input-text-prompt */
// =============================================================================
//
// Input prompts are used to visually aid a user with completion of a text input.

// Component settings
// ==================

$c-a-input-text-prompt-background-color: $color-white !default;
$c-a-input-text-prompt-background-color-disabled: $color-white !default;

$c-a-input-text-prompt-border-width: 1px !default;
$c-a-input-text-prompt-border-style: solid !default;
$c-a-input-text-prompt-border-color: $color-body !default;
$c-a-input-text-prompt-border-color-disabled: mix($color-body, $color-white, 30%) !default;

$c-a-input-text-prompt-title-color: $color-body !default;
$c-a-input-text-prompt-title-color-disabled: mix($color-body, $color-white, 30%) !default;

// .c-a-input-text-prompt
// ======================

.c-a-input-text-prompt {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-width: block-field(1);
    height: block-field(1);
    padding: 0 size(2);
    position: relative;
    background-color: $c-a-input-text-prompt-background-color;
    border-width: $c-a-input-text-prompt-border-width;
    border-style: $c-a-input-text-prompt-border-style;
    border-color: $c-a-input-text-prompt-border-color;

    // .is-disabled

    &.is-disabled {
        background-color: $c-a-input-text-prompt-background-color-disabled;
        border-color: $c-a-input-text-prompt-border-color-disabled;

        .c-a-input-text-prompt__title {
            color: $c-a-input-text-prompt-title-color-disabled;
        }
    }
}

// __title

.c-a-input-text-prompt__title {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    @extend .o-type-size-base4;
    @include font-text(heavy);
    color: $c-a-input-text-prompt-title-color;
}

// --prefix

.c-a-input-text-prompt--prefix {
    border-right: none;
    justify-content: flex-start;
    border-radius: $global-radius 0 0 $global-radius;
}

// --suffix

.c-a-input-text-prompt--suffix {
    border-left: none;
    justify-content: flex-end;
    border-radius: 0 $global-radius $global-radius 0;
}
