// =============================================================================
/* _element.fieldset */
// =============================================================================
//
// https://developer.mozilla.org/en/docs/Web/HTML/Element/fieldset

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}
