// =============================================================================
/* _element.select */
// =============================================================================
//
// https://developer.mozilla.org/en/docs/Web/HTML/Element/select
//
// (^) Denotes normalize v7.0.0 guidance.

// [1] Change the font styles in all browsers (opinionated) (^).
// [2] Remove the margin in Firefox and Safari (^).
// [3] Remove the inheritance of text transform in Edge, Firefox, and IE (^).

select {
    @include font-text(); // [1]
    font-size: 100%; // [1]
    line-height: 1.15; // [1]
    margin: 0; // [2]
    text-transform: none; // [3]

    &:focus {
        @include focus-add();
    }
}
